:8080 {
	handle /ws* {
		reverse_proxy node-1:8801 node-2:8801 {
			lb_policy round_robin
		}
	}

	handle /inspect* {
		reverse_proxy node-1:8801 node-2:8801 {
			lb_policy round_robin
		}
	}

	handle {
		root * /srv
		encode gzip
		try_files {path} /index.html
		file_server
	}
}
